<div class="desk__items">
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
</div>
