<div class="desk__won">
	<div class="desk__won-box">
		<span class="desk__won-mult">x3.31</span>
		<span class="desk__won-score">165.00000</span>
	</div>
</div>
<div class="desk__items">
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="mine"></span>
	<span class="desk__item" data-type="crystal"></span>
	<span class="desk__item" data-type="crystal"></span>
</div>
