<h2 class="table__title">All bets</h2>
<div class="table__body">
	<div class="table__head">
		<div class="table__head-item">Id</div>
		<div class="table__head-item">Time</div>
		<div class="table__head-item">Player</div>
		<div class="table__head-item">Bet</div>
		<div class="table__head-item">Profit</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit table__item_red">-50.0000000</div>
	</div>
	<div class="table__row">
		<div class="table__item table__item_id">337c8dce7</div>
		<div class="table__item table__item_time">17:32:41</div>
		<div class="table__item table__item_player">MisterT</div>
		<div class="table__item table__item_bet">50.0000000</div>
		<div class="table__item table__item_profit">+50.0000000</div>
	</div>
</div>
